# This is the workflow to build, and test code to be merged to the main branch. And also deploy the code to production
# P.S. There should be a workflow for the staging environment too but we didn't make provision for that

name: Prod_Deployment

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:

  # This defines the "build" job
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04
    environment: production

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE, so the job can access it
      - name: Checkout the code
        uses: actions/checkout@v4

      # Runs a set of commands using the runners shell
      - name: Lint the Terraform project files
        run: |
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash

          tflint --chdir=terraform/

      - name: Setup Python environment
        uses: actions/setup-python@v5
        with:
          python-version: '3.12' 

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint Python Scripts
        run: |
          flake8 airflow/
